<% if flash[:notice] %> 
    <div class="alert-success flash notice" role="alert">
    <%= flash[:notice] %>
    </div>
<%end%>

<% if flash[:alert] %> 
    <div class="alert alert-failure flash" role="alert">
    <%= flash[:alert] %>
    </div>
<%end%>






